{% extends 'base.html' %}

{% block body %}


<form class="container" method="POST" action="/">
  {% csrf_token %}
    <h1>Notes App</h1>
    <div class="form-group my-3">
      <label for="exampleFormControlInput1"><h4>Title</h4></label>
      <input type="TEXT" class="form-control" id="exampleFormControlInput1" name="title">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"><h4> Description of the Activity</h4></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='desc'></textarea>
    </div>
    <button type="submit" class="btn btn-success my-2">Submit</button>
  </form>
  
<div class="container">
{% for note in notes %}
  <div class="card my-4" style="width: 18rem;">
  <div class="card-body">
  
    <h5 class="card-title">{{note.title}}</h5>
    <p class="card-text">{{note.desc}}</p>
    
    <a href=" {% url 'update' note.id  %}" class="btn btn-primary">Update</a>
    <a href="{% url 'delete' note.id  %}" class="btn btn-danger">Delete</a>
  </div>
</div>
{% endfor %}
</div>


{% endblock body %}